#logout{
    margin-top: 10px;
}
.center_div{
   /*// margin: 0 auto;*/
    width: 59%;
    margin-left: 19%;
    margin-top: 10%;
}
.col-md-offset-10-custom-login {
    margin-left: 84.933333%;
}
.validation-error {
    color: red;
    margin: 5px 0;
    display: inline-block;
}
.login {
    width: 400px;
    margin: 0 auto;
}

.form-group.error input[type='text'],
.form-group.error input[type='email'],
.form-group.error input[type='number'],
.form-group.error input[type='password'],
.form-group.error select {
    border-color: red;
    color: red;
}

.form-group.required input[type='text'],
.form-group.required input[type='email'],
.form-group.required input[type='number'],
.form-group.required input[type='password'],
.form-group.required select {
    border-color: red;
}

.validation-error {
    color: red;
    margin: 5px 0;
    display: inline-block;
}
.custom-title {
    margin-left: 39%;
    margin-bottom: 5%;
}
.custom-error
{
    margin-left: 39%;
    margin-bottom: 5%;
}
.col-md-offset-8-custom-register-button {
  margin-left: 78%;
}
