#logout{
    margin-top: 10px;
}
.center_div{
   /*// margin: 0 auto;*/
    width:80%; /* value of your choice which suits your alignment */
    margin-left: 11%;
    margin-top: 8%;
}
.col-md-offset-10-custom-login {
    margin-left: 84.933333%;
}